.web_link a {
	align-content:center;
	color:#000;
	text-decoration: none;
}

.web {
	min-width: 1000px;
	height: 600px;
	border-bottom: 0px solid #bbb;
	background-color: #ffffff;
	margin: 0px auto;
}

.web1 {
	width: 1000px;
	height: 380px;
	/* border:1px solid red; */
	background-color: #00ffff;
	margin: 0px auto;
	margin-top: 30px;
}

.web_tu {
	width: 240px;
	height: 380px;
	/* border:2px solid #ddd; */
	float: left;
	margin-left: 0px;
	background: url("../image/nav_2.png") no-repeat 53px 19px, #e8e8e8;
	background-size: 130px;
}

.web1b:hover {
	border: 2px solid #3FAECC;
}

.web1b_wz {
	width: 220px;
	height: 70px;
	/*border:1px solid red;*/
	margin: 0px auto;
	margin-top: 170px;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
}

.web1b_wz a {
	font-weight: bold;
}

.web_link {
	text-align:center;
	height:40px;
	border:1px solid #c0c0c0;
	width:240px;
	text-align: center;
	
	margin-top: 20px;
}

.web_link a:link {
	background-color: #e8e8e8;
} /* 未被访问的链接 */
.web_link a:visited {
	background-color: #ffffff;
} /* 已被访问的链接 */
.web_link a:hover {
	background-color: #FF304D;
} /* 鼠标指针移动到链接上 */
.web_link a:active {
	background-color: #FF704D;
} /* 正在被点击的链接 */
.web_biaodan {
	width: 760px;
	height: 280px;
	background-color: #ff0080;
	float: left;
}

。web_opassword {
	margin-left: 120px;
}

fieldset {
	border: 1px dashed #CCC;
	padding: 100px;
}

label {
	width: 142px;
	height: 32px;
	margin: 3px 2px 0 0;
	padding: 11px 0 0 6px;
	background-color: #CCCCCC;
	float: left;
	color: #666;
}

.form {
	margin: 0;
	padding: 0;
}

#leftSide {
	width: 530px;
	padding-top: 30px;
	float: left;
}

.div_texbox {
	width: 347px;
	float: right;
	height: 35px;
}

.textbox {
	width: 285px;
	font: normal 18px Arial;
	color: #999999;
	padding: 3px 5px 3px 19px;
}

input:focus, input:hover {
	background-color: #F0FFE6;
}

.button_div {
	width: 287px;
	float: right;
	text-align: right;
	height: 35px;
	margin-top: 3px;
	padding: 5px 32px 3px;
}

.buttons {
	padding: 6px 14px;
	border: 2px solid;
	border-color: #fff #d8d8d0 #d8d8d0 #fff;
	background: #e3e3db;
	color: #989070;
	font-weight: bold;
}